<!doctype html>
<title>DoP Movie Index</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>DoP电影排名</h1>
  <ul>
    <li><a href="https://gitlab.com/101camp/5py/tasks/-/tree/master">Repository</a>
    <li><a href="https://gitlab.com/101camp/5py/tasks/-/issues/133">Logs</a>
    <li><a href="{{ url_for('team') }}">Team</a></li>
  </ul>
</nav>
<section class="content">
  <header>
    <!-- <h3>Top 5</h3> -->
  </header>
  {% for movie in top5 %}
    <div id='info'>
        <p><a href="{{ movie['url'] }}"><strong>{{ movie['title'] }}</strong></a> - {{ movie['region'] }}</p>
        <p>豆瓣评分:{{ movie['rate'] }}    上映日期:{{ movie['date']}}</p>
    </div>
    <img src="{{ url_for('static', filename=movie['cover']) }}"></img>
    <br/>
   {% endfor %}
  
</section>
<footer>
  <p>©Copyright 2020 DoP</p>
</footer>