<!doctype html>
<title>DoP Movie Index</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>DoP电影排名</h1>
  <ul>
    <li><a href="https://gitlab.com/101camp/5py/tasks/-/tree/master">Repository</a>
    <li><a href="https://gitlab.com/101camp/5py/tasks/-/issues/133">Logs</a>
    <li><a href="{{ url_for('team') }}">Team</a></li>
  </ul>
</nav>
<section class="content">
  <br>
    <!-- <h3 style="align-items: center">团队成员：</h3> -->
  <br>

  <div class="row">
    <div class="column">
      <div class="card">
        <img src="{{ url_for('static', filename='bruce.jpeg') }}" alt="Jane" style="width:100%">
        <div class="container">
          <h2>bruce</h2>
          <p class="title"></p>
          <p>蟒营让我重拾编程乐趣！</p>
          <p>bruceq619@foxmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="column">
        <div class="card">
          <img src="{{ url_for('static', filename='dboder.jpeg') }}" alt="Jane" style="width:100%">
          <div class="container">
            <h2>dboder</h2>
            <p class="title"></p>
            <p>编程是手艺活，最迷人的是程序员对世界的思考方式和相处，这个是最吸引我的地方。</p>
            <p>toqinbo@gmail.com</p>
            <p><button class="button">Contact</button></p>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <div class="card">
          <img src="{{ url_for('static', filename='zhong.jpeg') }}" alt="Jane" style="width:100%">
          <div class="container">
            <h2>zhong</h2>
            <p class="title"></p>
            <p>蟒营可爱，不忍心自己中途领盒饭，坚持到底是新的开始</p>
            <p>704195100@qq.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <div class="card">
            <img src="{{ url_for('static', filename='boyangcong.jpeg') }}" alt="Jane" style="width:100%">
            <div class="container">
              <h2>boyangcong</h2>
              <p class="title"></p>
              <p>Life is short, I need Python</p>
              <p>iboyangcong@gmail.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
    
    
  </div>
  
</section>
<footer>
  <p>©Copyright 2020 DoP</p>
</footer>